@import './themes.css';

.welcome {
    background: var(--alert-bg-color) !important;
    color: var(--alert-txt-color) !important;
    border: none !important;
}

.legend-dot {
    width: 10px; height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    flex-shrink: 0;
}

