body.light {
    --bg-layout-color: #5C1616;
    --txt-color-layout: #FAFAFA;
    --text-hover-layout: #E6960D;

    --card-color: #E6960D;

    --txt-color: #1A1414;

    --hover-color: #5C1616;
    --btn-bg-color:#7A1A1A;
    --btn-txt-color:#FAFAFA;
    
    --sidebar-border: 1px solid #FAFAFA;
    --sidebar-shadow: 2px 0 10px #1A0F0F;
    
    --alert-bg-color: #5C1616;
    --alert-txt-color: #FAFAFA;
    
    --main-bg: #FAFAFA;
}

body.dark {
    --bg-layout-color: #1A0F0F;
    --txt-color-layout: #FAFAFA;
    --text-hover-layout: #D4890F;

    --card-color:  #D4890F;

    --txt-color: #FAFAFA;

    --hover-color: #cd4c4c; 
    --btn-bg-color:#B33333;
    --btn-txt-color:#FAFAFA;
    
    --sidebar-border: 1px solid #663333;
    --sidebar-shadow: 2px 0 10px #cdd8eb;
    
    --alert-bg-color: #D4890F;
    --alert-txt-color: #FAFAFA;
    
    --main-bg: #1A1414;
}